.register-page {
    background: url('https://www.teahub.io/photos/full/154-1545179_mac-os-catalina.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 100px;
}

.register-form-container {
    width: 300px;
    background-color: #fff;
    color: white;
}

.login-form-head {
    width: 100%;
    padding: 20px 0px;
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(to right, #380964, #ca164f);
}

.submit-button{
    background: linear-gradient(to right, #ca164f, #380964);
}