.login-page {
    background: url('https://c4.wallpaperflare.com/wallpaper/397/165/91/5bf5201a15928-wallpaper-preview.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 100px;
}

.login-form-container {
    width: 300px;
    background-color: #fff;
    color: white;
}

.login-form-head {
    width: 100%;
    padding: 20px 0px;
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(to right, #380964, #ca164f);
}

.google-signIn {
    border: 2px solid #ca164f !important;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.623);
    font-weight: 400;
}

.google-icon {
    width: 24px;
    height: 24px;
}