.navigation-bar {
    /* background: linear-gradient(#434343); */
    background-color: #1b1b1b;
    color: white;
}

.nav-link-custom {
    font-size: 16px;
    color: white !important;
    text-transform: uppercase;
    font-family: 'Noto Sans',
    sans-serif;
    padding: 10px 0;
    transition: all linear .3s;
}


.nav-link-custom:hover {
    background-color: #fa6400;
}

.navBrand{
    text-transform: uppercase;
    color: #fa6400 !important;
}

.navBrand h1 {
    font-family: 'Roboto',
    sans-serif;
    font-size: 26px;
}

.log-out-button
,
.login-button,
.dashboard-log-out {
    border: 2px solid #fa6400;
    padding: 10px 0;
    border-radius: 3px;
    text-align: center;
}

.dashboard-log-out {
    color: #0e0c0c !important;
}