footer {
    height: 400px;
}
.home-footer {
    height: 400px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.email-subscribe > button,
input{
    padding: 10px 10px;
    border: none;
}

.email-subscribe button {
    color: red;
}